.Container {
  display: flex;
  padding: 10px;
}
  
.UsersCard {
  margin: 5px 20px;
}
  
footer.StickyFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-top: solid 1px #efefef;
}
  
.MessageForm {
  margin-left: 10px;
}
  
.MessageBox {
  float: left;
  width: 98%;
  margin: 5px 0 0 2%;
}
  
.MessageBox .ChatMessage {
  width: 80%;
  min-height: 40px;
}
  
.MessageBox .ChatMessage .RightBubble {
  position: relative;
  background: #dcf8c6;
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 5px 10px 10px;
  left: 15%;
}
  
.MessageBox .ChatMessage .RightBubble span.MsgName {
  font-size: 12px;
  font-weight: bold;
  color: green;
}
.MessageBox .ChatMessage .RightBubble span.MsgDate {
  font-size: 10px;
}
  
.MessageBox .ChatMessage .RightBubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 13px;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-left-color: #dcf8c6;
  border-right: 0;
  border-top: 0;
  margin-top: -13.5px;
  margin-right: -27px;
}
.MessageBox .ChatMessage .LeftBubble {
  position: relative;
  background: lightblue;
  border-top-right-radius: .4em;
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  padding: 5px 10px 10px;
  left: 5%;
}
.MessageBox .ChatMessage .LeftBubble span.MsgName {
  font-size: 12px;
  font-weight: bold;
  color: blue;
}
.MessageBox .ChatMessage .LeftBubble span.MsgDate {
  font-size: 10px;
}
.MessageBox .ChatMessage .LeftBubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-right-color: lightblue;
  border-left: 0;
  border-top: 0;
  margin-top: -13.5px;
  margin-left: -27px;
}
  
.MessageBox .ChatStatus {
  min-height: 49px;
}

.MessageBox .ChatStatus .ChatDate {
  display: block;
  font-size: 10px;
  font-style: italic;
  color: #777;
  height: 15px;
  left: 10%;
  right:10%;
}
  
.MessageBox .ChatStatus .ChatContentCenter {
  padding: 5px 10px;
  background-color: #e1e1f7;
  border-radius: 6px;
  font-size: 12px;
  color: #555;
  height: 34px;
  left: 10%;
  right:10%;
}

.ChatContent {
  overflow-y: scroll;
  height: 600px;
}